<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.andretietz.retroauth">

    <application>
        <activity
            android:name=".testhelper.RetroauthTestLoginActivity"
            android:theme="@style/Theme.AppCompat"/>
    </application>

</manifest>
