name: Snapshot build

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Snapshot Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Install JDK
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Building Snapshot
        run: |
          version=$(grep "VERSION_NAME" gradle.properties | cut -d'=' -f2 )
          if [[ $version != *"-SNAPSHOT"* ]]; then
            echo "Version string MUST contain \"-SNAPSHOT\"!"
            exit 1;
          fi
          echo "Building Snapshot Version: $version"
          ./gradlew uploadArchives --no-daemon --no-parallel --stacktrace --warning-mode all
        env:
          ORG_GRADLE_PROJECT_SONATYPE_NEXUS_USERNAME: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
          ORG_GRADLE_PROJECT_SONATYPE_NEXUS_PASSWORD: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
